@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Risk Açıklaması: Finansal araçlar ve/veya kripto paralarla işlem yapmak yüksek seviyede risk içermektedir ve yatırım miktarınızın bir kısmını veya tamamını kaybetmenize sebep olabilir, bu sebeple tüm yatırımcılar için uygun değildir. Kripto para fiyatları aşırı derecede hareketlidir ve finansal haberler, politik olaylar ve düzenleme kurumları gibi konulardan kolaylıkla etkilenir. Kaldıraçlı işlem yapmak finansal riskleri yükseltmektedir.
        Diğer finansal araçlar veya kripto paralar içinden tercihinizi yapmadan önce, yatırım nesnelerinizi, deneyim seviyenizi ve risk iştahınızı dikkatlice gözden geçiriniz ve ihtiyacınız olduğunda profesyonel tavsiye almayı deneyiniz.
        Fusion Media sitede yer alan bilgilerin gerçek zamanlı ya da isabetli olacağının mutlak olmadığını hatırlatır. Tüm borsa fiyatları, endeksler, vadeli işlemler, Forex ve kripto para fiyatları, borsalardan değil piyasa düzenleyicileri tarafından oluşturulur, bu sebeple fiyatlar isabetli olmayabilir ve gerçek piyasa fiyatlarından farklı olabilir, bu da buradaki fiyatların fikir verme amaçlı olduğunu ve ticari amaçlar için uygun olmadığını gösterir. Fusion Media veya herhangi bir sağlayıcı, buradaki bilgileri kullanmanız sonucu oluşacak olası kayıplarınızdan ötürü sorumluluk taşımamaktadır.
        Bu sitede yer alan bilgileri, Fusion Media ve/veya veri sağlayıcıdan yazılı izin almadan kullanmak, saklamak, kopyasını üretmek, görüntülemek, düzenlemek veya dağıtmak yasaktır. Fikri mülkiyet hakkı, sitede yer alan verileri sağlayanlara ve/veya borsalara aittir.
        Fusion Media reklamlarla veya reklam verenlerle etkileşiminize bağlı olarak internet sitesinde görüntülenen reklamlardan gelir elde edebilir.
        İşbu sözleşmenin aslı İngilizcedir ve İngilizce ve Türkçe versiyonu arasında tutarsızlık olduğunda İngilizce versiyonu dikkate alınacaktır.
    </p>
</main>