@using Exo_Crypto_Chain.MvcWebUI.Models;
@model IEnumerable<ProductModel>

@{
    ViewBag.Title = "Index";
}


<div class="p-5 mb-4 bg-body-tertiary rounded-3" id="jumbotron">
    <div class="container-fluid py-5">
        <h1 style="color: #d4af37"   class="display-5 fw-bold">Exo Crypto Chain</h1>
        <p  style="color: #e0d496" class="col-md-8 fs-4">
            Kripto satın almanın, satmanın ve kripto ticareti yapmanın dünyadaki en popüler yolu
            milyonlarca insanın güveni ile değeri 1 Trilyon doları aşan kripto para işlemleri.
        </p>
        <button class="btn btn-secondary btn-lg" type="button">Alışverişe Başla</button>
    </div>
</div>


<div class="container pb-5 mt-5">

    @Html.Partial("_ProductList", Model)

</div>